[submodule "week02_ASPNET_MVC_MvcMovie/MvcMovie"]
path = week02_ASPNET_MVC_MvcMovie/MvcMovie
url = https://github.com/bbrain777/cse325-week02-mvcmovie.git
branch = main

[submodule "week03_Blazor_Pizza_App/BlazorPizza_Week3_Complete"]
path = week03_Blazor_Pizza_App/BlazorPizza_Week3_Complete
url = https://github.com/bbrain777/BlazorPizza_Week3_Complete.git
branch = main
